<div class="mT10">
    <img routerLink="/debit-card" class="mat-card-image"  src="assets/debit_card.jpg" alt="Debit Card" title="Debit Card"/>
    <mat-list class="debit-c">
        <mat-list-item> 
            <h2 mat-subheader><mat-icon mat-list-icon>credit_card</mat-icon> Debit Card</h2>
            <span class="spacer"></span>
            <h4 align="end">₹13208 </h4>
        </mat-list-item>
    </mat-list>
</div>
<div class="mT10">
    <img routerLink="/credit-card" class="mat-card-image" src="assets/credit_card.jpg" alt="Debit Card" title="Debit Card"/>
    <mat-list class="credit-c">
        <mat-list-item>
            <h2 mat-subheader><mat-icon mat-list-icon>credit_card</mat-icon> Credit Card</h2>
            <span class="spacer"></span>
            <h4>₹3048</h4>
        </mat-list-item>
    </mat-list>
</div>